<div *ngIf="live.selectedQuestion">
  <h3>Answers</h3>

  <app-loader-stub [loading]="!answers">
    <div class="answers-wrapper" *ngIf="answers">
      <div class="answer" *ngFor="let answer of answers">
        <div>
          {{answer.text}}
        </div>

        <div style="width: 20px" *ngIf="!user.isteacher">
          <mat-icon *ngIf="answer.accepted" color="primary">done</mat-icon>
        </div>

        <div style="width: 20px; cursor: pointer" *ngIf="user.isteacher" (click)="onToggle(answer)">
          <mat-icon *ngIf="!answer.accepted">done</mat-icon>
          <mat-icon *ngIf="answer.accepted" color="primary">done</mat-icon>
        </div>
      </div>

      <div *ngIf="!answers.length" style="text-align: center; margin-bottom: 10px">
        <i>No questions yet</i>
      </div>

      <app-new-answer-form style="margin-top: 20px"></app-new-answer-form>
    </div>
  </app-loader-stub>

</div>
