<div class="entrance-layout">
  <div class="entrance-heading">
    <h1>Application name</h1>
  </div>
  <div class="entrance-form">
    <div class="form-heading">
      <h2>Sign In</h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Enter Username</mat-label>
        <input type="text" matInput formControlName="login">
        <mat-error>Please fill in this field</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter Password</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>Please fill in this field</mat-error>
      </mat-form-field>

      <div class="form-controls">
        <button mat-flat-button color="primary" type="submit">Login</button>
      </div>

      <div class="form-links">
        <a routerLink="/registration">Do not have an account? Sign up now</a>
      </div>
    </form>
  </div>
</div>
