<div>
  <h3>Lecture</h3>
  <app-loader-stub [loading]="!questions">
    <div *ngIf="questions">
      <div *ngFor="let question of questions">
        <div class="question" (click)="onSelect(question)" [class.selected]="selected && question.id === selected.id">
          {{ question.text }}
        </div>
      </div>

      <div *ngIf="!questions.length" style="text-align: center; margin-bottom: 10px">
        <i>No questions yet</i>
      </div>
      <button mat-flat-button color="primary" style="width: 100%; margin-top: 20px" (click)="onAsk()">Ask something</button>
    </div>
  </app-loader-stub>
</div>
